<script src="/resources/js/diff_function.js"></script>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit Book</h4>
            </div>
            <form name="Add_form" class="form-horizontal" ng-submit="" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{currentBook.images[0].url}}" width="150px" height="150px" style="padding: 0px 10px 0px 0px">
                            <p>Upload image:</p>
                            <input type="file" data-bind-file="" data-ng-model="theImage" accept="image/jpeg" />
                            <p>Upload pdf:</p>
                            <input type="file" data-bind-file="" data-ng-model="thePdf" accept="application/pdf"/>
                        </div>
                        <div class="col-lg-9">
                            <div class="control-group">
                                <label class="control-label" for="book_name">Book Name</label>

                                <div class="controls">
                                    <input class="form-control" type="text" id="book_name" ng-model="currentBook.name"
                                           placeholder="Please, type the book name" required>
                                </div>
                            </div>


                            <div class="control-group">
                                <label class="control-label" for="book_desc">Book Description</label>

                                <div class="controls">
                                    <input class="form-control" type="text" id="book_desc" ng-model="currentBook.description"
                                           placeholder="Please, type the book description" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="control-group col-md-5" style="float: left">
                                    <label class="control-label" for="dynamic-options">Authors:</label>

                                    <div class="controls">
                                        <ol id="dynamic-options" class="nya-bs-select" ng-model="newbook.authors"
                                            title="Choose author..." multiple data-live-search="true" data-size="5">
                                            <li nya-bs-option="author in authors">
                                                <a>{{ author.firstName }}&nbsp;{{author.lastName}}
                                                    <span class="glyphicon glyphicon-ok check-mark"></span></a>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-md-7" style="padding-top: 90px">
                                    <a href="" data-toggle="modal" data-target="#addAuthor">No found the required author?
                                        Add!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!currentBook.name || !currentBook.description" ng-click="editBook(currentBook, currentBook.bookId)" data-dismiss="modal">Edit Book</button>
                </div>
            </form>
        </div>
    </div>
</div>