<form>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" ng-model="userForForgotPassword.password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputMatchingPassword" placeholder="********" ng-model="userForForgotPassword.matchingPassword">
                <span ng-show="userForForgotPassword.matchingPassword!=userForForgotPassword.password"
                      class="help-block">Password don`t match.</span>
    </div>
    <button style="float: left" type="submit" class="btn btn-success" ng-disabled="userForForgotPassword.matchingPassword!=userForForgotPassword.password" ng-click="resetPassword(userForForgotPassword)">Change Password!</button>
    <div ng-show="spinner" class="loading-spinner"></div>
</form>