You are receiving this because you (or someone else) requested the reset password of the "${user.login}" user account.

Please click on the following link, or paste this into your browser to complete the process:

http://localhost:8085/#/forgotPassword/${user.getConfirmResetPasswordToken()}

If you received this in error, you can safely ignore it.
